.styleContainer {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 3% 1% 3% 1%;
}

.styleButton {
  color: #3c3c3c;
  background: #1363df;
  border: none;
  margin: 0 1%;
  padding: 1% 3% 1% 3%;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
}

.imgIcon {
  width: 20px;
  height: 20px;
  margin: 1% 10% 1% 1%;
  color: white;
}

.styleText {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: white;
  margin: 0;
}
