.styleNavbar {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.brands {
  width: 40%;
}

.search {
  display: flex;
  width: 500px;
}

.styleText {
  width: 45px;
  height: 5px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
}

.styleFormSearch {
  border-radius: 16px;
  height: 36px;
  width: 400px;
  background: #ffffff;
  color: #1363df;
}

.styleLogin {
  background: #1363df;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 12px;
}
.styleIconSearch {
  position: relative;
  margin-left: -25px;
  margin-top: 10px;
  width: 17px;
  height: 17px;
}

.styleLogo {
  width: 10%;
}
