.styleCarousel {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  margin: 3% 1% 3% 1%;
  border-radius: 20px;
}

.styleItem {
  width: 100%;
  height: 100%;
}

.styleImg {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
