.styleIcon {
  width: 30px;
  height: 30px;
  margin: 2%;
}

.styleFooterText {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  color: black;
}

.styleTextLink {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  color: black;
  text-decoration: none;
  margin: 10% 1% 10% 0%;
}

.styleTextAddress {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  color: black;
  text-decoration: none;
  margin-top: 5%;
}

.styleLogo {
  width: 100px;
  height: 100px;
  margin: 2%;
}

.styleFooter {
  background-color: #dff6ff;
  padding: 2%;
  text-align: center;
  margin-top: 3%;
}
